{% extends 'layout.html.twig' %}

    {% block head %}<title>{{app.session.get('empresaNombre')}}</title>{% endblock %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('bundles/app/css/jquery.dataTables.min.css') }}">
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('bundles/app/js/jquery.dataTables.min.js') }}"></script>
        <script>
            $(document).ready(function () {
                $('#mytable').DataTable({
                    paging    : false,
                    scrollY   : 225,
                    searching : true,
                    ordering  : false,
                    select    : false
                });
            });
        </script>
    {% endblock %}
    {% block body %}
        {{ parent() }}
        <div class="panel panel-primary box box-info center-block" style="width: 650px;">
            <div class="panel-heading box-header with-border">
                <text class="box-title">&nbsp&nbsp<span class="glyphicon glyphicon-check"></span> Seleccionar empresa</text>
            </div>
            <form action="" class="form-horizontal" method="post">
                <div class="panel-body box-body">
                <table id="mytable" class="cell border" cellspacing="0" width="100%">
                <thead>
                <tr>
                <th>Mes</th>
                <th>Anio</th>
                <th></th>
                </tr>
                </thead>
                <tbody>
                {% set i = 1 %}
                {% for periodo in periodos %}
                <tr>
                <td style="padding:2px;">{{ periodo.idmes }}</td>
                <td style="padding:2px;">{{ periodo.idanio }}</td>
                <td style="padding:2px;"><a href="{{ path('index', {'empresaId': app.session.get('empresaId'), 'periodoId': periodo.id }) }}" class="btn btn-success">Abrir</a></td>
                </tr>
                {% set i = i + 1 %}
                {% endfor %}
                </tbody>
                </table>
            </div>
        </div>

        </form>
    {% endblock %}
