{% extends 'layout.html.twig' %}

    {% block javascripts %}
        {{ parent() }}
        <script>
            $(document).ready(function () {
                $('#mytable').DataTable({
                    paging    : false,
                    scrollY   : 225,
                    searching : true,
                    ordering  : false,
                    select    : false
                });
            });
        </script>
    {% endblock %}

    {% block body %}
        {{ parent() }}
        <div class="panel panel-primary box box-info center-block" style="width: 400px;">
            <div class="panel-heading box-header with-border">
                <text class="box-title">&nbsp&nbsp<span class="glyphicon glyphicon-lock"></span> Cambiar Password</text>
            </div>
            <form action="{{ path('user_password_check') }}" class="form-horizontal" method="post">
                <div class="panel-body box-body">
                    <div class="row">

                        <div class="col-sm-12">
                            <input type="password" class="form-control" id="oldpassword" name="_oldpassword" placeholder="Password actual" autofocus >
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-sm-12">
                            <input type="password" class="form-control" id="newpassword" name="_newpassword" placeholder="Nuevo password">
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-sm-12">
                            <input type="password" class="form-control" id="new2password" name="_new2password" placeholder="Confirmar password">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-10">
                            <button type="submit" class="btn btn-primary">Cambiar</button>
                        </div>
                    </div>
                    {% if error != '' %}
                        <div>
                            <p><span class="{{ class }}"></span>
                                <strong>
                                    {{ error }}
                                </strong>
                            </p>
                        </div>
                    {% endif %}
                </div>
            </form>
        </div>
    {% endblock %}
