{% extends 'layout.html.twig' %}

{% block head %}
    <title>{{app.session.get('empresaNombre')}}</title>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/jquery.dataTables.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/select2-bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/select2.min.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/select2.full.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('#mytable').DataTable({
                paging: false,
                scrollY: 225,
                searching: false,
                ordering: false,
                select: false,
                info: false
            });
        });

        $(document).ready(function () {
            $("#myBtn").click(function () {
                $("#myModal").modal();
            });
        });
    </script>
{% endblock %} {% block body %} {{ parent() }} {% include 'NinfacContaBundle:Herramientas:form650x.html.twig' %} {{ form_start(form) }} <table>
        <tr>
            <td>
                {{ form_row(form.corrAnual) }}
            </td>
            <td>
                {{ form_row(form.corrMensual) }}
            </td>
            <td>
                {{ form_row(form.corrTipo) }}
            </td>
            <td>
                {{ form_row(form.idTipopartida) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_row(form.fecha) }}
            </td>

            <td colspan="3">
                {{ form_row(form.concepto) }}
            </td>

        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
                {{ form_row(form.save) }}
            </td>
        </tr>
    </table>
    {{ form_end(form) }}
    <div>
        <table id="mytable" class="cell-border" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <td></td>
                    <th>
                        Cuenta
                    </th>
                    <th>
                        Concepto
                    </th>
                    <th>
                        Debe
                    </th>
                    <th>
                        Haber
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tr>
                <td>
                    <a href="#" id="myBtn" style="font-size:24px">
                        <i class="fa fa-plus-square-o"></i>
                    </a>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <a href="" style="font-size:24px;color:red">
                        <i class="fa fa-minus-square-o"></i>
                    </a>
                </td>
            </tr>

            <tr>
                <td>
                    <a href="" style="font-size:24px">
                        <i class="fa fa-plus-square-o"></i>
                    </a>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <a href="" style="font-size:24px;color:red">
                        <i class="fa fa-minus-square-o"></i>
                    </a>
                </td>
            </tr>

            <tr>
                <td>
                    <a href="" style="font-size:24px">
                        <i class="fa fa-plus-square-o"></i>
                    </a>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <a href="" style="font-size:24px;color:red">
                        <i class="fa fa-minus-square-o"></i>
                    </a>
                </td>
            </tr>

            <tr>
                <td>
                    <a href="" style="font-size:24px">
                        <i class="fa fa-plus-square-o"></i>
                    </a>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <a href="" style="font-size:24px;color:red">
                        <i class="fa fa-minus-square-o"></i>
                    </a>
                </td>
            </tr>

            <tr>
                <td>
                    <a href="" style="font-size:24px">
                        <i class="fa fa-plus-square-o"></i>
                    </a>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <a href="" style="font-size:24px;color:red">
                        <i class="fa fa-minus-square-o"></i>
                    </a>
                </td>
            </tr>

            <tr>
                <td>
                    <a href="" style="font-size:24px">
                        <i class="fa fa-plus-square-o"></i>
                    </a>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <a href="" style="font-size:24px;color:red">
                        <i class="fa fa-minus-square-o"></i>
                    </a>
                </td>
            </tr>
        </table>
    </div>

    <input type="text"/>
    <input type="text"/>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="padding:15px 50px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>
                        <span class="fa fa-list"></span>
                        Detalle</h4>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                    <form role="form">
                        <div class="form-group">
                            <label for="cuenta" class="">
                                Cuenta</label>
                            <select id="single" class="form-control select2-single">
                                <option value="1">Cuenta 1 QWEQEWR QEWR QERQWER QWERQR</option>
                                <option value="2">Cuenta 2</option>
                                <option value="3">Cuenta 3</option>
                                <option value="4">Cuenta 4</option>
                                <option value="5">Cuenta 5</option>
                                <option value="6">Cuenta 6</option>
                                <option value="7">Cuenta 7</option>
                                <option value="8">Cuenta 8</option>
                            </select>

                        </div>

                        <div class="form-group">
                            <label for="concepto" class="">
                                Concepto</label>
                            <input type="text" class="form-control" id="concepto" placeholder="Concepto">
                        </div>
                        <div class="form-group">
                            <label for="debe" class="col-sm-2 col-form-label">
                                Debe</label>
                            <input type="text" class="" id="debe" placeholder="Debe">
                        </div>
                        <div class="form-group">
                            <label for="haber" class="col-sm-2 col-form-label">
                                Haber</label>
                            <input type="text" class="" id="haber" placeholder="Haber">
                        </div>

                        <button type="submit" class="btn btn-success btn-block">
                            <span class="glyphicon glyphicon-ok"></span>
                            Agregar</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span>
                        Cancel</button>
                </div>
            </div>

        </div>
    </div>


    <script>
        $.fn.select2.defaults.set("theme", "bootstrap");
        var placeholder = "";
        $(".select2-single, .select2-multiple").select2({
            placeholder: placeholder,
            width: 525,
            containerCssClass: ':all:'
        });
    </script>
{% endblock %}
